<!DOCTYPE html>
<html>
<head>
    <title>{{ page_name }}</title>
    {{ inline_css|raw }}
</head>

<body>
    <h1>Api Endpoint List</h1>

    <ul>
        {% for route in routes %}
        <li>
            <div class="name">
                {{ route.name }}
            </div>
            <div class="debug">
                {{ route.callable }}
            </div>
            <div class="method">
                {% for method in route.methods %}
                    {{ method }}
                {% endfor %}
            </div>
            <div class="pattern">
                <a href="{{ route.pattern }}">{{ route.pattern }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>